PORT=5000
NODE_ENV=development
FIREBASE_PROJECT_ID=dlms-b7390
FIREBASE_STORAGE_BUCKET=dlms-b7390.firebasestorage.app
GOOGLE_BOOKS_API_KEY=replace_me
CRON_SECRET=replace_me
FIREBASE_SERVICE_ACCOUNT_PATH=../secrets/dlms-b7390-firebase-adminsdk-fbsvc-9468ed8000.json
